*{
    border: 0;
    margin: 0;
    padding: 0;
}


html, body{
    width: 100%;
    height: 100%;

    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
    background-color: var(--background);
}

h1, h2, h3, h4, h5{
    color: var(--second);
}


header{
    width: 100vw;
    height: 13vh;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

header h1{
    margin-left: 30px;
}

header nav{
    width: 30%;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

header .op{
    color: var(--quart);
    font-size: 105%;
    transition: 0.3s;
}

header .op:hover{
    cursor: pointer;
    color: white;
}


header form{
    display: flex;
    height: 30px;
    background-color: white;
    width: 30%;
    border-radius: 7px;
}


header form input{
    margin-left: 10px;
    outline: none;
    width: 90%;
}



header form button{
    background-color: transparent;
    display: flex;
}

header form button:hover{
    cursor: pointer;
}

header form button svg{
    width: 30px;
    height: 30px;
}


header #user{
    width: 50px;
    height: 50px;
    background-color: var(--quart);

    margin-right: 30px;

    border-radius: 50%;
    cursor: pointer;
}

.opDropMenu{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.hidden{
    display: none;
}


.menu{
    position: absolute;
    top: 90px;
    transform: translateX(100px);
    z-index: 99;

    animation: MenuDropAppear 1s forwards 0.05s;
}

@keyframes MenuDropAppear {
    0%{

    }

    100%{
        transform: translateX(0px);
    }
}



main{
    width: 100%;
    flex: 1;
}

#addMovie{
    transform: translateX(100%);
    margin-right: 40px;
    margin-top: 9.5px;
    transition: 0.3s;
    display: flex;
}

#addMovie g{
    fill: var(--quart);
}

#addMovie svg{
    transition: 0.3s;
}

#addMovie svg:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.mainColaboradores{
    display: flex;
    justify-content: center;
    align-items: center;
}

#listaDeColaboradores{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.colaboradores{
    display: flex;
    border: 1px solid black;

    padding: 10px;

    gap: 20px;
    

    align-items: center;
    transition: 0.3s;
    animation: 0.7s itensAppear forwards;
}



.colaboradores:hover{
    background-color: var(--primary);
}


.infoColaboradores{
    list-style: none;
}

.photoUser{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
    filter: invert();
}


.nomeColaborador{
    font-size: larger;
    color: var(--quart);
}

.emailColaborador{
    font-size: medium;
    color: var(--quart);
}


@keyframes itensAppear {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }


    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

footer{
    width: 100vw;
    height: 10vh;

    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-shrink: 0;

}



@media screen and (max-width: 800px) {
    
    header {

        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 20px;
        align-items: center;

    }

    header h1 {

        margin: 0;
        font-size: 1.8rem;

    }

    header form {
        width: 80%;
    }

    nav {
        width: 100%;
        order: 3;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #userArea {
        order: 2;
        margin-right: 0;
    }

    #user {
        margin-left: 30px;
    }

    .menu{
        transform: translateX(350%) translateY(200%);

        animation: appearC;
    }

    
}