*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    width: 100%;
    height: 100%;

    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
    background-color: var(--background);
}

h1, h2, h3, h4, h5{
    color: var(--second);
}


header{
    width: 100vw;
    height: 13vh;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
   
}

header h1{
    margin-left: 30px;
    font-family: "Cinzel Decorative", serif;
}

#titulo{
    cursor: pointer;
}

header nav{
    width: 30%;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: "Playfair Display", serif;
    
}

header .op{
    color: var(--quart);
    font-size: 105%;
    transition: 0.3s;
}

header .op:hover{
    cursor: pointer;
    color: white;
}


header form{
    display: flex;
    height: 30px;
    background-color: white;
    width: 30%;
    border-radius: 7px;
}


header form input{
    margin-left: 10px;
    outline: none;
    width: 90%;
}



header form button{
    background-color: transparent;
    display: flex;
}

header form button:hover{
    cursor: pointer;
}

header form button svg{
    width: 30px;
    height: 30px;
}


header #user{
    width: 50px;
    height: 50px;
    background-color: var(--quart);

    margin-right: 30px;

    border-radius: 50%;
    cursor: pointer;
}

.opDropMenu{
    text-decoration: none;
    color: var(--quart);
    padding-left: 10px;
    padding-top: 10px;
    
}

.opDropMenu:hover{
    cursor: pointer;
    color: white;
}

.hidden{
    display: none;
}


.menu{
    position: absolute;
    transform: translateX(100px) translateY(20%);
    z-index: 99;

    height: 50px;
    width: 100px;

    background-color: var(--primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    animation: MenuDropAppear 1s forwards 0.05s;
}

@keyframes MenuDropAppear {
    0%{

    }

    100%{
        transform: translateX(0px) translateY(20%);
    }
}





main{
    width: 100%;
    flex: 1;
}

#addMovie{
    display: flex;
    position: relative;
    left: 98%;
    margin-top: 10px;
    transform: translateX(-1%);
}

#addMovie g{
    fill: var(--quart);
}

#addMovie svg{
    transition: 0.3s;
}

#addMovie svg:hover{
    cursor: pointer;
    transform: scale(1.05);
}


#filmes{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    padding-top: 0;
    box-sizing: border-box;
}


.card{
    
    width: 200px;
    height: 250px;
    border: 2px solid var(--primary);
    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
    animation: appearFilmes 1s ;
}

@keyframes appearFilmes {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{   
        transform: translateY(0);
        opacity: 1;
    }
}

.card:hover{
    transform: scale(1.02);
    cursor: pointer;
    background-color: var(--primary);
    border: 2px solid var(--second);
}




.fotoFilme{
    width: 80%;
    height: 50%;
    border-radius: 20px;
}

.textContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Serif", serif;
    
}

.textContent h1{
    font-family: "Bebas Neue", sans-serif;
}

.mainColaboradores{
    display: flex;
    justify-content: center;
    align-items: center;
}

#listaDeColaboradores{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#generoMenu{
    display: none;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    transform: translateY(7%) translateX(-42%);
    color:var(--second);
    z-index:999;
    align-items: center;
    background-color: var(--primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 20%;
    
}

#generoMenu.visible {
    display: flex;
}

.opGenero{
    margin-bottom: 10px;
}

.opGenero:hover{
    color:var(--quart);
    cursor: pointer;
}

#OpReligioso{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.colaboradores{
    display: flex;
    border: 1px solid black;

    padding: 10px;

    gap: 20px;
    

    align-items: center;
    transition: 0.3s;
    animation: 0.7s itensAppear forwards;
}



.colaboradores:hover{
    background-color: var(--primary);
}


.infoColaboradores{
    list-style: none;
}

.photoUser{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
    filter: invert();
}


.nomeColaborador{
    font-size: larger;
    color: var(--quart);
}

.emailColaborador{
    font-size: medium;
    color: var(--quart);
}


@keyframes itensAppear {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }


    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

footer{
    width: 100vw;
    height: 10vh;

    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-shrink: 0;

}


.card-expandido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    height: 60%;
    border: 4px solid var(--primary);
    max-width: 800px;
    background-color: var(--background);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: none;
    overflow-y: auto;

    animation: bigCardAppear 0.3s 0.2s forwards;
}

@keyframes bigCardAppear {
    0%{

    }

    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}


.card-expandido p{
    color: var(--second);
    padding-top: 10px;
}

.generoEclassificacao{
    display: flex;
    gap: 20px;
}


.infoDoFilme{
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 100%;
}

.infoDoFilme svg{
    fill: white;
    transition: 0.3s;
}

.infoDoFilme svg:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.imagemDoFilme{
    width: 40%;
}

.infoDeTexto{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: "Roboto Serif", serif;
}

.infoDeTexto h1{
    font-size: 3vw;
    font-family: "Bebas Neue", sans-serif;
}

.infoDeTexto p{
    width: auto;
    max-width: 90%;
    word-break: break-word;
    white-space: normal;
}

.imagemDoFilme img{
    width: 100%;
    height: 100%;
    border: 3px solid var(--second);
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}



@media screen and (max-width: 840px) {
    
    header {

        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 20px;
        align-items: center;

    }

    header h1 {

        margin: 0;
        font-size: 1.8rem;

    }

    header form {
        width: 80%;
    }

    nav {
        width: 100%;
        order: 3;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #userArea {
        order: 2;
        margin-right: 0;
    }

    #user {
        margin-left: 30px;
    }

    .menu{
        transform: translateX(300%);
        width: auto;
        padding-left: 0;
        animation: appearC;
    }

    .opDropMenu{
        text-decoration: none;
        color: var(--quart);
        padding: 0;

    }

    #addMovie{
        left: 95%;
        transform: translateX(-4%);
    }
    
    #generoMenu{
 
        transform: translateY(24%) translateX(-40%);
        width: 70%;
        height: 300px;
        flex-wrap:wrap;
        
    }

    .infoDoFilme{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imagemDoFilme{
        width: 50%;
    }

    .infoDeTexto h1{
        font-size: 7vw;
    }

    .infoDoFilme svg{
        fill: white;
    
    }   
    
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--quart); 
  border-radius: 10px;

}

/* Polegar (parte que se move) */
body::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  border: 2px solid transparent; /* "simula" uma alça menor */
  background-clip: padding-box;
}
